[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	branch = v1.92.4-docking
[submodule "tomlplusplus"]
	path = tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
	branch = release-3.2.24
[submodule "incbin"]
	path = incbin
	url = https://github.com/graphitemaster/incbin
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "parallel-gs"]
	path = parallel-gs
	url = https://github.com/Arntzen-software/parallel-gs
[submodule "libchdr"]
	path = libchdr
	url = https://github.com/rtissera/libchdr
