name: macOS CI

on:
  push:
    branches: [ "hw-renderer" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0
    - name: Build and pack Iris
      run: |
        git fetch --all --tags
        cmake -S . -B build
        cmake --build build -j8
        sudo cmake --install build
        mkdir -p ./build/dist
        cp -R ./build/iris.app ./build/dist
    - uses: actions/upload-artifact@v4
      with:
        name: iris-latest-macos-universal
        path: ./build/dist
